@{
    ViewBag.Title = "Maps";
}

<div class="row">
    <div class="col-lg-6 my-3">
        @*@{ Html.RenderAction("Login", "Account"); }*@
    </div>
    <div class="col-lg-6 my-3">
        @*@{ Html.RenderAction("Register", "Account"); }*@
    </div>
</div>