@model Maps.Entities.DetailsListItemMapViewModel

<div id="newMap" class="card" >
    <div class="text-right">
        @Ajax.ActionLink("Add map", "Create", null, new AjaxOptions { HttpMethod = "get", InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "newMap" }, new { @class = "btn btn-link" })
        &nbsp;
    </div>
</div>

@if (Model != null)
{
    @Html.Partial("DetailsListItem", Model)
}
