@model Maps.Entities.CopyMapViewModel

@if (Request.IsAuthenticated)
{
    <div class="row bg-white">
        @if (!Html.ViewData.ModelState.IsValid)
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        }
        @using (Ajax.BeginForm("Copy", "Map", null,
                                new AjaxOptions { UpdateTargetId = "copy", InsertionMode = InsertionMode.Replace },
                                new { @class = "ml-auto" }))
        {
            @Html.HiddenFor(m => m.Id)
            <input type="submit" value="Copy" class="btn btn-link" />
        }
    </div>
}