@model Maps.Entities.CopyMapViewModel

@if (!Html.ViewData.ModelState.IsValid)
{
    <div class="row bg-white">
        <div class="col card">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
    </div>
}

@if (Request.IsAuthenticated)
{
    <ul class="nav justify-content-end bg-white">
        <li class="nav-item">
            @using (Ajax.BeginForm("Copy", "Map", null,
                new AjaxOptions { UpdateTargetId = "copy", InsertionMode = InsertionMode.Replace },
                new { @class = "nav-link" }))
            {
                @Html.HiddenFor(m => m.Id)
                <input type="submit" value="Copy" class="btn btn-link" />
            }
        </li>
    </ul>
}