@model Maps.Entities.DetailsLayerViewModel

<div id="@string.Concat("layer", Model.Id)">

    @Html.Partial("../Layer/DetailsHeader", Model)
    @Html.Partial("../Layer/DetailsCollapse", Model)
</div>