@model IList<Maps.Entities.DropdownItemLayerViewModel>

@if (!Html.ViewData.ModelState.IsValid)
{
    <div class="dropdown-item">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
}

@foreach (var layer in Model)
{
    @Ajax.ActionLink(layer.Name, "Table", "Data",
                    new { id = layer.Id },
                    new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "nav-table", OnComplete = "showTableComplete()" },
                    new { @class = "dropdown-item", data_toggle = "tab", role = "tab", aria_controls = "nav-table", aria_selected = "false", id = "nav-table-tab" })
}

<script>
    function showTableComplete() {
        $('#nav-table').tab('show')
        $('#nav-chart').removeClass('show')
        $('#nav-chart').removeClass('active')
        $('#nav-map').removeClass('show')
        $('#nav-map').removeClass('active')
    }
</script>