@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<div class="card my-3">
    <div class="card-header">
        <h1 class="text-danger card-title">@ViewBag.Title</h1>
    </div>
    <div class="card-body">
        This account has been locked out, please try again later.
    </div>
</div>

