@model Maps.Entities.DetailsMapViewModel

@{
    ViewBag.Title = "Details";
    Layout = null;
}

<div class="card h-100">
    <div class="card-header">
        <big class="font-weight-bold">
            @Html.DisplayFor(model => model.Name)
        </big>
    </div>
    @if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="card">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
    }
    <div class="" id="accordion">
        @Html.Partial("../Layer/AddLayer", new Maps.Entities.DetailsLayerViewModel(Model.Id))
        @foreach (var layer in Model.Layers)
        {
            @Html.Partial("../Layer/Details", layer);
        }
    </div>
</div>
