@model Maps.Entities.DetailsMapViewModel

@{
    ViewBag.Title = "Details";
    Layout = null;
}

<div class="card">
    <div class="card-header">
        <b>
            @Html.DisplayFor(model => model.Name)
        </b>
        <span class="float-right">
            @Html.ActionLink("Back", "Index")
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        </span>
    </div>
    <div class="card-body">
        @Html.Action("Index", "Layer", new { id = Url.RequestContext.RouteData.Values["id"] })
    </div>
</div>
