@{
    ViewBag.Title = "Confirm Email";
}

<div class="card my-3">
    <div class="card-header">
        <h3 class="card-title m-0">@ViewBag.Title</h3>
    </div>
    <div class="card-body">
        Thank you for confirming your email. Please @Html.ActionLink("click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </div>
</div>
