@{
    ViewBag.Title = "Confirm Email";
}

<div class="card mt-3">
    <div class="card-header">
        <h2 class="card-title">@ViewBag.Title</h2>
    </div>
    <div class="card-body">
        Thank you for confirming your email. Please @Html.ActionLink("click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </div>
</div>
