@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="card mt-3">
    <div class="card-header">
        <h2 class="card-title">@ViewBag.Title</h2>
    </div>
    <div class="card-body">
        Please check your email to reset your password.
    </div>
</div>

