@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="card mt-3">
    <div class="card-header">
        <h3 class="card-title m-0">@ViewBag.Title</h3>
    </div>
    <div class="card-body">
        Please check your email to reset your password.
    </div>
</div>

