@model Maps.Entities.ChartDataViewModel

@{
    ViewBag.Title = "Chart";
    Layout = null;
}

<script>
    function dynamicColors() {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        return "rgba(" + r + "," + g + "," + b + ", 0.5)";
    }

    function colorArray(a) {
        var pool = [];
        for (i = 0; i < a; i++) {
            pool.push(dynamicColors());
        }
        return pool;
    }
</script>

<div class="m-2">
    @if (Model.HasData)
    {
        foreach (var item in @Model.ChartModels)
        {
            @Html.Partial("HorizontalBarChart", item.Value)
        }
    }
    else
    {
        <div class="card">
            <div class="card-header">
                Layer <strong>@Model.LayerName</strong> does not have any data.
            </div>
        </div>
    }
</div>



