@model IList<Maps.Entities.DetailsLayerViewModel>

@{
    ViewBag.Title = "Dropdown";
    Layout = null;
}


<div class="dropdown-menu">
    @foreach (var layer in Model)
    {
        @Ajax.ActionLink(layer.Name, "Table", "Data", new { id = layer.Id }, new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "nav-table", OnComplete="complete" }, new { @class = "dropdown-item", data_toggle = "tab", role = "tab", aria_controls = "nav-table", aria_selected = "false" })
    }
</div>

