@model Maps.Entities.DetailsLayerViewModel

@{
    ViewBag.Title = "Table";
    Layout = null;
}

    <div class="card m-2">
        @if (Model.HasData && Model.Data.Count != 0)
        {
            <div class="card-header">
                Layer: <strong>@Model.Name</strong>
            </div>
            <div class="card-body">

                <table class="table table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            @foreach (var property in Model.Data.FirstOrDefault().Values)
                            {
                                <td>@property.Key</td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.Data)
                        {
                            <tr>
                                @foreach (var property in data.Values)
                                {
                                    <td>@property.Value</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="card-header">
                Layer <strong>@Model.Name</strong> does not have any data.
            </div>
        }
    </div>
